In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("/Work/Open.ru/OTP_session_id.xlsx")

In [4]:
df

,client_id,sessionId,datetime,status,category
0,237723095919,1af2a994-0039-4d92-bb78-c217a50ab82a,2021-05-04,CORRECT,default
1,237650241603,148b3ffb-ee4c-4f5b-9098-436993a0ade0,2021-05-04,CORRECT,default
2,237613554852,84a0ac11-f876-4e16-9b3d-b548f809eb46,2021-05-16,CORRECT,otp-login
3,237412528821,79396f39-b31a-465b-91f6-1c7f2a08dfe8,2021-05-04,CORRECT,operation-name_web
4,237178873863,c624f6cd-54ef-4099-b433-cd80f4071301,2021-05-04,CORRECT,otp-login
...,...,...,...,...,...
10159,237322368145,e8f5331-6349-47d5-ac73-495a287fd16d,2021-06-17,CORRECT,otp-login
10160,239613229075,35edc5b-b0bd-4eb5-8d39-c880ece9dab8,2021-06-17,CORRECT,otp-login
10161,237107862973,d64fa9a-71f9-418d-a862-ea48bb8f0235,2021-06-17,CORRECT,otp-login
10162,237411479323,f276d6d-8ac9-4765-a4c0-565736d41a95,2021-06-17,INCORRECT,default
10163,237398640922,f276d6d-8ac9-4765-a4c0-565736d41a95,2021-06-17,INCORRECT,default

Задание 1.  Добавить индикатор, который будет выделять следующие значения:
•	Если otp для категории платежей (payment), то «1»
•	Если otp для категории переводов (transfer), но не для переводов с использованием счетов (acc), то «2»
Все остальные заявки не должны попасть в результат выполнения запроса.

In [199]:
dt = df.copy()

In [15]:
dt

,client_id,sessionId,datetime,status,category
0,237723095919,1af2a994-0039-4d92-bb78-c217a50ab82a,2021-05-04,CORRECT,default
1,237650241603,148b3ffb-ee4c-4f5b-9098-436993a0ade0,2021-05-04,CORRECT,default
2,237613554852,84a0ac11-f876-4e16-9b3d-b548f809eb46,2021-05-16,CORRECT,otp-login
3,237412528821,79396f39-b31a-465b-91f6-1c7f2a08dfe8,2021-05-04,CORRECT,operation-name_web
4,237178873863,c624f6cd-54ef-4099-b433-cd80f4071301,2021-05-04,CORRECT,otp-login
...,...,...,...,...,...
10159,237322368145,e8f5331-6349-47d5-ac73-495a287fd16d,2021-06-17,CORRECT,otp-login
10160,239613229075,35edc5b-b0bd-4eb5-8d39-c880ece9dab8,2021-06-17,CORRECT,otp-login
10161,237107862973,d64fa9a-71f9-418d-a862-ea48bb8f0235,2021-06-17,CORRECT,otp-login
10162,237411479323,f276d6d-8ac9-4765-a4c0-565736d41a95,2021-06-17,INCORRECT,default
10163,237398640922,f276d6d-8ac9-4765-a4c0-565736d41a95,2021-06-17,INCORRECT,default

In [200]:
conditions =[
    (dt['category'].str.contains(r"payment")),
    (dt['category'].str.contains(r"transfer"))&(~dt['category'].str.contains(r"acc"))
]
choices = [1,2]

dt['indicator'] = np.select(conditions,choices, default='not_best')
dt.query('indicator == ("1","2")')

,client_id,sessionId,datetime,status,category,indicator
6,238519442889,7fb5144e-458f-4556-a624-c2c4b6920b3f,2021-05-04,CORRECT,transfer_card_web,2
17,237788391768,f8fb0b85-e525-4fcf-b242-791c35a3c20b,2021-05-04,CORRECT,payment_card_web,1
32,237097828287,2b2d3d29-d35d-402e-bddd-028113928736,2021-05-04,CORRECT,transfer-p2p_card_web,2
45,237245912013,d321701a-60f9-455b-a60a-7b62919ead6b,2021-05-04,CORRECT,payment_card_web,1
57,237683448462,8832ef3a-b9ec-47e6-aa02-0f697f684815,2021-05-04,CORRECT,payment_card_web,1
...,...,...,...,...,...,...
10135,237586095034,8ba90f4-a806-42e2-a554-94b972fe78cd,2021-06-17,CORRECT,payment_card_web,1
10140,237440193496,46b3426-0ca5-4e6c-9ee8-24f00b2d5b92,2021-06-17,CORRECT,payment_card_web,1
10147,237095861815,78583b7-18fc-4afa-b3d4-03b705aee69f,2021-06-17,CORRECT,payment_card_web,1
10152,237417392068,05bd069-b795-46fb-a6b8-d36baa3fdaf4,2021-06-17,CORRECT,payment_card_web,1
10158,237652006360,dbc8858-c267-4707-bc9b-9c4a3b414ff0,2021-06-17,CORRECT,transfer-p2p_card_web,2

Задание 2. Посчитать метрику Month-of-Month (прирост текущего месяца к предыдущему) по уникальным клиентам с кодами otp-login.

In [237]:
dt2 = df.copy()

In [238]:
dt2 = dt2.query('category == "otp-login"')

In [239]:
dt2 = dt2.drop_duplicates(subset='client_id', keep="first")

In [240]:
dt2['month'] = dt2['datetime'].dt.month

In [242]:
from itertools import count
dt2 = dt2.groupby('month')['client_id'].agg(['count'])

In [243]:
dt2 = dt2.reset_index()

In [244]:
dt2['growth'] = dt2['count'].diff(1)

In [245]:
dt2['growth percentage diff'] = round(dt2['growth']/dt2['count']*100,2)
dt2

   month  count  growth  growth percentage diff
0      5   2529     NaN                     NaN
1      6   1394 -1135.0                  -81.42